* {
    border: none;
    border-radius: 1px;
    font-family: JetBrainsMono Nerd Font;
    font-size: 16px;
    font-weight: 700;
}

window#waybar {
    background: rgba(0, 0, 0, 1);
    border-radius: 0px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}


tooltip {
    background: rgba (0, 0, 0, 1);
    border-radius: 4px;
    padding: 12px;
}

#workspaces,
#cpu,
#memory,
#disk,
#custom-temp,
#custom-power,
#custom-gamemode,
#custom-launcher,
#custom-keybinds,
#clock,
#pulseaudio,
#battery,
#custom-mpris,
#custom-window,
#tray,
#custom-cava 
{
    margin-top: 0px;
    margin-left: 8px;
    padding: 0px 12px;
}

#cpu:hover,
#memory:hover,
#disk:hover,
#custom-temp:hover,
#custom-power:hover,
#custom-gamemode:hover,
#custom-launcher:hover,
#custom-keybinds:hover,
#clock:hover,
#custom-eww-dashboard:hover,
#pulseaudio:hover,
#battery:hover,
#custom-window:hover,
#custom-mpris:hover,
#custom-cava:hover,
#keyboard-state:hover {
    background: rgb(60, 60, 60);
    border-radius: 12px;
    color: #ffffff;
}

#workspaces {
    padding: 4px 4px;
    border-radius: 4px;
}

#workspaces button {
    padding: 4px 8px;
    border: none;

    border-radius: 10px;
    background: transparent;

    color: #ffffff;
    transition: 0.2s ease;

    margin-right: 4px;
}

#workspaces button:hover {
    background: rgb(60, 60, 60);
    color: #ffffff;
    border-radius: 10px;
}

#workspaces button:last-child {
    margin-right: 0;
}

#workspaces button.active {
    background: rgb(60, 60, 60);
    color: #ffffff;
}

#tray {
    padding-left: 10px;
    padding-right: 10px;
}

#tray > *:hover {
    background: rgb(60, 60, 60);
    border-radius: 12px;
}





