configuration {
    modi: "drun";
    show-icons: true;
    icon-theme: "Papirus";
    terminal: "kitty";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    kb-cancel: [ Escape, MousePrimary, MouseSecondary ];
    me-select-entry: "";
    me-accept-entry: [ MousePrimary, MouseSecondary, MouseDPrimary ];
    hover-select: true;

    drun-exclude-categories: "Settings;System;Development;Utility;AudioVideo;Audio;";
    drun-show-actions: false;
    drun-use-desktop-cache: false;
}
@theme "~/.config/rofi/theme.rasi"
